# Exclude raw dataset (too large)
data/factory_a/metal_nut/
data/factory_b/transistor/
data/factory_c/carpet/
data/factory_a/yolo/
data/factory_b/yolo/
data/factory_c/yolo/

# Keep everything else
!runs/
!server/logs/